@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Agenda</h1>    
</div>

<div class="row">
    <div class="col-md-4">
        @*ToDo: Cantidad de ReleaseEjecution*@
    </div>
    <div class="col-md-4">
        @*ToDo: Cantidad de BuildEjecution*@
    </div>
    <div class="col-md-4">
        @*ToDo: Cantidad de Deployment correctos*@
    </div>
</div>